.table-img {
    width: 100px;
}
.table-view {
    margin-top: 0!important;
}
.stained-glass-desc {
    float:right;
    width: 50%;

}
.stained-glass-img {
    float:left;
    width: 50%;
    text-align: center;
}