/* 
    Created on : 26 mai 2016, 20:10:40
    Author     : Yassine Doghri <http://yassine.doghri.fr>
*/

.search-bar {
    .search {
        border-radius: 0;
        margin-bottom: 0;
        padding-right: 35px;
    }
    span {
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px;
        color: #CCCCCC;
    }
}

.course {
    h2 {
        font-size: 20px;
        font-weight: 300;
    }
    .course-abstract {
        div {
            width: 50%;
            float: left;
        }
    }
}
