/* 
    Created on : 26 mai 2016, 20:10:40
    Author     : Yassine Doghri <http://yassine.doghri.fr>
*/

@import "compass";
$primary-color: #f9c452;
$primary-color-darker: #d9a941;
$light-color: #fefefe;

body {
    font-family: "Roboto";
}

button, input, select, textarea {
    font-family: "Roboto";
}

.bar-nav {
    background-color: $primary-color;
    border: none;

    h1 {
        color: $light-color;
    }
}

.search-bar {
    background-color: $primary-color;
    position: fixed;
    height: 44px;
    top: 44px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $primary-color-darker;
    z-index: 10;

    .search {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba($light-color, 0.5);
        color: $light-color;
        border-radius: 0;
        margin-bottom: 0;
        margin-right: 15px;
        margin-left: 15px;
        padding-left: 35px;
        width : calc(100% - 30px);
        @include transition(all 0.3s ease-in-out);

        &:focus {
            border-bottom: 2px solid rgba($light-color, 1);

            +span {
                color: $light-color;
            }
        }

        @include input-placeholder {
            color: rgba($light-color, 0.8);
            font-style: italic;
        }
    }
    span {
        position: absolute;
        top: 0;
        left: 15px;
        padding: 9px;
        color: rgba($light-color, 0.5);
        @include transition(all 0.3s ease-in-out);
    }
}

#courses {
    padding-top: 88px!important;
}

.course {
    .course-header {
        margin-bottom: 10px;

        h2 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 0;
        }
        .course-vp {

        }
    }
    .course-abstract {
        font-weight: 300;

        div {
            width: 50%;
            float: left;
        }
    }
}

.table-view {
    border: none;
}