/* 
    Created on : 26 mai 2016, 20:10:40
    Author     : Yassine Doghri <http://yassine.doghri.fr>
*/

@import "pages/courses";
@import "pages/description";
@import "pages/explore";
@import "pages/preview";

@import "compass";
$primary-color: #f9c452;
$primary-color-darker: #d9a941;
$light-color: #fefefe;

body {
    font-family: "Roboto";
}

button, input, select, textarea {
    font-family: "Roboto";
}

.bar-nav {
    background-color: $primary-color;
    border: none;

    h1 {
        color: $light-color;
    }
    a {
        color: $light-color;
    }
}