/* 
    Created on : 26 mai 2016, 20:10:40
    Author     : Yassine Doghri <http://yassine.doghri.fr>
*/

input[type=search] {
    border-radius: 0;
    margin-bottom: 0;
}

.comment-header {
    margin-bottom: 10px;
}

.comment-view .table-view-cell {
    padding-right: 15px;
}
